/*APP "BODY"*/

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--bg-app);
}

/*MAIN CONTAINER*/

.main-content {
  flex: 1;
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  padding: var(--space-xl) var(--space-lg);

  display: flex;
  flex-direction: column;
  gap: var(--space-xl);
}

/*COMPONENTS HOME ORGANIZATION*/
.home-layout {
  display: flex;
  flex-direction: column;
  gap: var(--space-xl);
  width: 100%;
}

/* MOBILE RESPONSIVE */
@media (max-width: 768px) {
  .main-content {
    padding: var(--space-md);
    max-width: 100%;
  }
}
